{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Мой Блог</h1>
    <p class="lead">Добро пожаловать! Добавьте новый пост, если блог пуст.</p>
</div>
<div class="container mt-5">
    <div class="row">
    </div>
    <div class="row text-center">
        <table border = "0" >
        {% for blog_item in object_list %}
        <div class="col-3">
            <tr bgcolor="teal"><td colspan="2" height="30">
                <p align="left">{{ blog_item.title }} создан: ({{ blog_item.created_at }}) <br>
                    просмотров {{ blog_item.views_count }}
            </p></td></tr>
            <tr>
                <td width="110"><img src = "{{ blog_item.preview_image | media_filter }}" width = "100" title = "{{ blog_item.preview_image | media_filter }}"></td>
                <td><p align="left">{{ blog_item.content }}</p></td>
            </tr>
            <tr><td colspan="2" height="30">
            <a href="{{ blog_item.id }}" class="btn btn-primary">ПРОСМОТРЕТЬ</a>
            </td></tr>
        </div>
        {% empty %}
        <p>Нет блогов. <a href="{% url 'blog:post_create' %}">Создать новый блог</a>.</p>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}