    {% extends "catalog/base.html" %}
    {% load catalog_tags %}
    {% block content %}
    <<H2>Список продуктов</H2>
    <p>
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
    <p>
    <div class="row text-center">
        {% for item in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> Карточка продукта </class></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ item.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li><img src = "{{ item.image | media_filter }}" width = "100" title = "{{ item.image | media_filter }}"></li>
                        <li>- <H1>{{ item.name_prod }}</H1></li>
                        <li>- {{ item.category }}</li>
                        <li>- {{ item.descr_prod|truncatechars:50 }}</li>
                        <li>- {{ item.date_created_at }}</li>
                        <li><a class="btn btn-primary" href="{% url 'catalog:product_detail' item.id %}" role="button">Посмотреть детали</a></li>
                    </ul>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {% endblock %}