<!DOCTYPE html>
<!-- student_detail.html -->
{% extends 'product/base.html' %}
{% load my_tags %}
{% block title %}Детали студента{% endblock %}

{% block content %}
<center>
    <p> <b>Наименование продукта</b><br></p>
    <p>{{object.name_prod}}</p>
    <p><img src = "{{ object.image | media_filter }}" width = "300"></p>
    <p> <b>Описание продукта</b><br></p>
    <p>{{object.descr_prod}}</p>
    <p><a class="btn btn-prim ary" href="{% url 'catalog:product_list' %}" role="button">К списку продукции</a></p>
</center>>
{% endblock %}
