    {% extends "catalog/base.html" %}
    {% load my_tags %}
    {% block content %}
    <center><H2>Список продуктов</H2></center>
    <p>
    <div class="row text-center">
        {% for item in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Карточка продукта</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ item.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <img src = "{{ item.image | media_filter }}" width = "100">
                        <p><li>- <H1>{{ item.name_prod }}</H1></li></p>
                        <p><li>- {{ item.category }}</li></p>
                        <p><li>- {{ item.descr_prod|truncatechars:50 }}</li></p>
                        <p><li>- {{ item.date_created_at }}</li></p>
                        <p><a class="btn btn-primary" href="{% url 'catalog:product_detail' item.id %}" role="button">Посмотреть детали ({% url 'catalog:product_detail' item.id %})</a></p>
                    </ul>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {% endblock %}